# ----------------------------------------
# IntelliJ Gitignore
# ----------------------------------------

# User-specific stuff:
.idea

# File-based project format:
.ipr
.iws
*.iml

# IntelliJ
/out/

# JIRA plugin
atlassian-ide-plugin.xml

# ----------------------------------------
## NodeJS Express Gitignore
# ----------------------------------------
# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# ----------------------------------------
## Bower Gitignore
# ----------------------------------------

!public/extern/.gitignore
public/extern/**/*

# ----------------------------------------
## App Specific
# ----------------------------------------

config.js
**/torflow.js
**/templates/*.js
**/extern.js
**/extern.css
!**/extern/fonts/
.vagrant/
map/
data/relays/*

# ----------------------------------------
## Deploy
# ----------------------------------------

deploy/app/package.json
deploy/demo/package.json
deploy/ingest/package.json

deploy/app/build/
deploy/demo/build/
deploy/ingest/build/
