head

    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

    title= title

    link(rel='stylesheet', href='/stylesheets/extern.css')
    link(rel='stylesheet', href='/stylesheets/extern/css/font-awesome.min.css')
    link(rel='stylesheet', href='/torflow.css')

    link( rel='apple-touch-icon' sizes='57x57' href='/favicons/apple-touch-icon-57x57.png')
    link( rel='apple-touch-icon' sizes='60x60' href='/favicons/apple-touch-icon-60x60.png')
    link( rel='apple-touch-icon' sizes='72x72' href='/favicons/apple-touch-icon-72x72.png')
    link( rel='apple-touch-icon' sizes='76x76' href='/favicons/apple-touch-icon-76x76.png')
    link( rel='apple-touch-icon' sizes='114x114' href='/favicons/apple-touch-icon-114x114.png')
    link( rel='apple-touch-icon' sizes='120x120' href='/favicons/apple-touch-icon-120x120.png')
    link( rel='apple-touch-icon' sizes='144x144' href='/favicons/apple-touch-icon-144x144.png')
    link( rel='apple-touch-icon' sizes='152x152' href='/favicons/apple-touch-icon-152x152.png')
    link( rel='apple-touch-icon' sizes='180x180' href='/favicons/apple-touch-icon-180x180.png')
    link( rel='icon' type='image/png' href='/favicons/favicon-32x32.png' sizes='32x32')
    link( rel='icon' type='image/png' href='/favicons/android-chrome-192x192.png' sizes='192x192')
    link( rel='icon' type='image/png' href='/favicons/favicon-96x96.png' sizes='96x96')
    link( rel='icon' type='image/png' href='/favicons/favicon-16x16.png' sizes='16x16')
    link( rel='manifest' href='/favicons/manifest.json')
    link( rel='mask-icon' href='/favicons/safari-pinned-tab.svg' color='#5bbad5')
    link( rel='shortcut icon' href='/favicons/favicon.ico')
    meta( name='apple-mobile-web-app-title' content='Torflow')
    meta( name='application-name' content='Torflow')
    meta( name='msapplication-TileColor' content='#2b5797')
    meta( name='msapplication-TileImage' content='/favicons/mstile-144x144.png')
    meta( name='msapplication-config' content='/favicons/browserconfig.xml')
    meta( name='theme-color' content='#ffffff')

    script(src='/javascripts/extern.js')

    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-21723198-9', 'auto');ga('send', 'pageview');