head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/extern.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/extern.js')
