doctype html
meta(charset='utf-8')
meta(name='description' content='Data flow in the Tor network')
link(rel='author' href='https://uncharted.software')

meta(property='og:title' content='Torflow')
meta(property='og:type' content='website')
meta(property='og:description' content='Data flow in the Tor network')
meta(property='og:image' content='https://torflow.uncharted.software/sample.png')
meta(property='og:url' content='https://torflow.uncharted.software')

meta(property='twitter:card' content='summary')
meta(property='twitter:title' content='Torflow')
meta(property='twitter:description' content='Data flow in the Tor network')
meta(property='twitter:image' content='https://torflow.uncharted.software/sample.png')
meta(property='twitter:url' content='https://torflow.uncharted.software')

html
    include ./head.jade
    script(src='/torflow.js')
    body
        script.
            window.onload = torflow.start;
