<div style="text-align:center;">
    <div class="btn-group services-btn-group" data-toggle="buttons">
        {{#each buttons}}
            <label class="btn btn-xs btn-primary {{className}}">
                <input class="hidden-filter-input" type="radio" name="hidden-options">{{label}}
                <div class="half-circle left" style="background-color:{{leftColor}}"></div>
                <div class="half-circle right" style="background-color:{{rightColor}}"></div>
            </label>
        {{/each}}
    </div>
</div>
