<div class="map-control-element">
    <div class="small-button left" style="display:inline-block; vertical-align: middle; margin:0 8px;">
        <i class="fa fa-minus"></i>
    </div>
    <input class="slider"
        data-slider-min="0"
        data-slider-max={{numDates}}
        data-slider-step="1"
        data-slider-value={{initialIndex}}>
    <div class="small-button right" style="display:inline-block; vertical-align: middle; margin:0 8px;">
        <i class="fa fa-plus"></i>
    </div>
    <div class="padded-left padded-right date-label">{{initialDateString}}</div>
</div>
