<div class="map-control-element">
    <div class="layer-control-head">
        <div class="layer-toggle">
            {{#if isVisible}}
                <i class="fa fa-check-square-o"></i>
            {{else}}
                <i class="fa fa-square-o"></i>
            {{/if}}
        </div>
        <div class="layer-title">{{label}}</div>
        <div class="minimize-toggle" style="position:absolute; top:0; right:0;">
            {{#if isMinimized}}
                <i class="fa fa-plus"></i>
            {{else}}
                <i class="fa fa-minus"></i>
            {{/if}}
        </div>
    </div>
    <div class="layer-control-body"></div>
</div>
