<div id="main ">
    <header>
        <h1>{{title}}</h1>
    </header>

    <div class="summary-button">
        <i class="icon fa fa-question"></i>
    </div>

    <div class="date-controls">
        <div class="map-control-element">
            <input class='slider date-slider'
                type="text"
                data-slider-id='date-slider' 
                data-slider-min="0"
                data-slider-max="{{maxIndex}}"
                data-slider-step="1"
                data-slider-value="{{maxIndex}}"/>
            <div class="padded-left date-label">{{defaultDate}}</div>
        </div>
    </div>

    <div class="map-controls">
    </div>

    <div id="map"></div>
</div>
