<div id="main " class="container">
    <div class="col-lg-12">
        <div id="map-container">
            <div id="map">

            </div>
        </div>
        <div>
            <input id="ex1" class='slider' data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="{{totalDates}}" data-slider-step="1" data-slider-value="{{defaultIndex}}"/>
        </div>
        <span id="date-label">{{defaultDate}}</span>
    </div>
</div>
