<div id="main">
    <header>
        <h1>{{title}}</h1>
    </header>
    <!-- summary button -->
    <div class="large-button summary-button">
        <i class="fa fa-question"></i>
    </div>
    <!-- date controls -->
    <div class="date-controls"></div>
    <!-- map controls -->
    <div class="map-controls"></div>
    <!-- leaflet map anchor -->
    <div id="map"></div>
</div>
