<div class="layer-control">
    <Label style="float:left" class="layer-control-label">{{label}}</Label>
    <div class="layer-toggle">
        {{#if initialValue}}
            <i class="fa fa-check-square-o"></i>
        {{else}}
            <i class="fa fa-square-o"></i>
        {{/if}}
    </div>
</div>
