body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.leaflet-container {
    background: #000 !important;
}

#map-container {
    position:relative;
    width:1024px;
    height:760px;
}

#map {
    width: 1024px;
    height: 760px;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.relay-cluster {
    border-radius: 50%;
    background-color: rgba(255,255,255,0.8);
}

.relay-cluster-label {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}